/* .App {
  text-align: center;
} 

 .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

#nav_bar {
  display: flex;
  justify-content: space-around;

  margin-top: 10px;
}
.Nav-head {
  color: rgb(255, 23, 97);
}

.home-btn {
  border-style: none;
  border-radius: 6px;
  padding: 10px;
  color: rgb(255, 23, 97);
}
.home-btn:hover {
  background-color: rgb(255, 23, 97);
  color: white;
}
.title-btn {
  border-style: none;
  border-radius: 6px;
  margin-left: 15px;
  padding: 10px;
  color: rgb(255, 23, 97);
}

.btn-div {
  margin-top: 22px;
}
.title-btn:hover {
  background-color: rgb(255, 23, 97);
  color: white;
}

p {
  font-size: 17px;
}
.main {
  margin-left: 150px;
}
